* {
    margin: 0;
    padding: 0;
}
h1 {
    font-family:cinzel decorative;
}

li button a:hover {
    color:rgb(119, 218, 248) !important;
}

main {
    background-image: url(/assets/img/fondo-pantalla-patron-ensueno-brillante-rosa-azul-pastel_53876-115661.jpg) !important;
    background-size: cover;
}

h2, a {
    font-family: pacifico;
}
